#login-page {
    
    display: flex;
    align-self: center;
    justify-content: center;

    .login-form-container {
        width: 400px;

        padding: 30px 0px;

        text-align: center;

        h2 {
            font-size: 2.2rem;
            margin: 0;
            margin-bottom: 30px;
        }

        .username-container {
            margin-bottom: 15px;
        }

        .password-container {
            margin-bottom: 30px;
        }

        .username,
        .password {
            width: 70%;
        }

        .login-button {
            width: 40%;
        }

        @media screen and (min-width: 1600px) {
            width: 600px;
        }

        @media screen and (max-width: 620px) {
            width: 80%;
        }
    }
}
