@use "src/assets/scss/variables" as v;

*,
*::before,
*::after {
    box-sizing: border-box;
}

.app {
    padding: 10px;

    height: 100vh;

    background-color: v.$secondary-dark;

    color: #ffffff;
}

.widget {
    padding: 1.2rem;

    border-radius: 15px;
    background-color: v.$secondary-light;

    overflow: hidden;
}

.accounts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.add-account {
    cursor: pointer;

    .add-account-icon-container {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        svg {
            width: 40%;
            height: 40%;
            fill: v.$secondary-lighther;
        }
    }
}

.add-account-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 600px){
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.divider {
    width: 100%;
    border-top: 1px solid #bbb;
}


