@use "src/assets/scss/variables" as v;

*,
*::before,
*::after {
    box-sizing: border-box;
}

.app {
    padding: 10px;

    height: 100vh;

    background-color: v.$secondary-dark;

    color: #ffffff;
}