.register-form-container {
    width: 400px;

    padding: 30px 0px;

    border: 1px solid #ffffff;

    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

    text-align: center;

    h2 {
        font-size: 2.2rem;
        margin: 0;
        margin-bottom: 30px;
    }

    .username-container,
    .password-container {
        margin-bottom: 15px;
    }

    .repassword-container {
        margin-bottom: 30px;
    }

    .username,
    .password,
    .repassword {
        width: 70%;
    }

    .register-button {
        width: 40%;
    }

    @media screen and (min-width: 1600px) {
        width: 600px;
    }

    @media screen and (max-width: 620px) {
        width: 80%;
    }
}
